# Servidor
PORT=3001
NODE_ENV=development

# Base de datos MySQL
DB_HOST=localhost
DB_PORT=3306
DB_NAME=brawlstats
DB_USER=root
DB_PASS=tu_password

# JWT
JWT_SECRET=cambia_esto_por_un_string_largo_y_seguro_123456
JWT_EXPIRES=7d

# API Supercell Brawl Stars
BRAWL_API_TOKEN=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiIsImtpZCI6IjI4YTMxOGY3LTAwMDAtYTFlYi03ZmExLTJjNzQzM2M2Y2NhNSJ9.eyJpc3MiOiJzdXBlcmNlbGwiLCJhdWQiOiJzdXBlcmNlbGw6Z2FtZWFwaSIsImp0aSI6IjNhOWNmOWZhLWQ2MWItNDkyZC04MGJmLTVhYTE1MmE4OWQ4MCIsImlhdCI6MTc3ODg2MDMwMiwic3ViIjoiZGV2ZWxvcGVyL2NjNzE3NDZiLTI0NmQtNWRjZS1jYWNmLTg0NTE4MDI4ZmU3NiIsInNjb3BlcyI6WyJicmF3bHN0YXJzIl0sImxpbWl0cyI6W3sidGllciI6ImRldmVsb3Blci9zaWx2ZXIiLCJ0eXBlIjoidGhyb3R0bGluZyJ9LHsiY2lkcnMiOlsiNDcuNTkuMTM3LjIwNSIsIjE0OC41Ni4xMzkuNzUiXSwidHlwZSI6ImNsaWVudCJ9XX0.6XQvPIyF6VOuctz1q2_iv0SNcHsN2XpeOa_991p9nymZughAo5T678noSbRS8Nx5PEYse1670lXT6ZW1wLbf2A
BRAWL_API_URL=https://api.brawlstars.com/v1

# Frontend (para CORS)
FRONTEND_URL=http://localhost:3000
