# Servidor
PORT=3001
NODE_ENV=development

# Base de datos MySQL
DB_HOST=localhost
DB_PORT=3306
DB_NAME=brawlstats
DB_USER=root
DB_PASS=tu_password

# JWT
JWT_SECRET=cambia_esto_por_un_string_largo_y_seguro_123456
JWT_EXPIRES=7d

# API Supercell Brawl Stars
BRAWL_API_TOKEN=tu_token_de_supercell_aqui
BRAWL_API_URL=https://api.brawlstars.com/v1

# Frontend (para CORS)
FRONTEND_URL=http://localhost:3000
