
PORT=3001
NODE_ENV=development


DB_HOST=localhost
DB_PORT=3306
DB_NAME=brawlstats
DB_USER=root
DB_PASS=


JWT_SECRET=cambia_esto_por_un_string_largo_y_seguro_123456
JWT_EXPIRES=7d

# API Supercell Brawl Stars
BRAWL_API_TOKEN=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiIsImtpZCI6IjI4YTMxOGY3LTAwMDAtYTFlYi03ZmExLTJjNzQzM2M2Y2NhNSJ9.eyJpc3MiOiJzdXBlcmNlbGwiLCJhdWQiOiJzdXBlcmNlbGw6Z2FtZWFwaSIsImp0aSI6IjVmMzVjOGRjLTY1NDYtNDcwNy1iNzFhLTc5NjgwYmE3ZTk5MiIsImlhdCI6MTc3OTc4MzAwNywic3ViIjoiZGV2ZWxvcGVyL2NjNzE3NDZiLTI0NmQtNWRjZS1jYWNmLTg0NTE4MDI4ZmU3NiIsInNjb3BlcyI6WyJicmF3bHN0YXJzIl0sImxpbWl0cyI6W3sidGllciI6ImRldmVsb3Blci9zaWx2ZXIiLCJ0eXBlIjoidGhyb3R0bGluZyJ9LHsiY2lkcnMiOlsiNzcuMjI3LjEyMC41Il0sInR5cGUiOiJjbGllbnQifV19.NVgiyNQ8jGwPVnYW6Gss_NYhjdt5hkg3mm0PZHRx-CP51wxa2PuYdxGvV_td7gMrMXKdhodG0SG6ZOfk9uQNgQ
BRAWL_API_URL=https://api.brawlstars.com/v1


FRONTEND_URL=http://localhost:3000
